{
  "presets": [
    ["es2015", {"modules": false}],
    "react"
  ],
  "env": {
    "test": {
      "presets": [["es2015"], "react"]
    },
    "node": {
      "plugins": [
        [
          "babel-plugin-transform-require-ignore",
          {
            "extensions": [".less"]
          }
        ]
      ],
      "presets": ["es2015"]
    }
  }
}